body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

nav>div.nav-wrapper>a {
    margin: 0 5%;
}

img {
    max-height: 40vh;
    max-width: 96%;
    border: 4px outset #039be5;
    margin: 2%;
}

.card {
    margin: 0;
    padding: 1%;
}

.btn {
    margin: 4%;
}
