<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <%- include partials/stylesheets %>
        <%- include partials/scripts %>
        <title></title>
    </head>
    <body>
        <i class="material-icons">add</i>
        <%# Main Content Goes Here%>
        <%- body %>
    </body>
</html>
