<nav>
    <div class="nav-wrapper blue darken-4">
        <a href="/" class="brand-logo">
            <i class="material-icons">business</i>
            Cities
        </a>
        <a href="/new" class="brand-logo right">
            <i class="material-icons">add</i>
            Add City
        </a>
    </div>
</nav>
