<nav>
    <div class="nav-wrapper blue darken-4">
        <a href="/" class="brand-logo">
            <i class="material-icons standard">business</i>
            Cities
        </a>
        <ul id="nav-mobile" class="right">
            <a href="/new"><i class="material-icons">add</i>Add City</a>
        </ul>
    </div>
</nav>
